.vscode/**
.vscode-test/**
.github/**
src/**
test/**
out/test/**
**/*.ts
!dist/**/*.js
**/*.map
**/tsconfig*.json
.eslintrc*
.editorconfig
.gitignore
.gitattributes
biome.json
**/.gitkeep
node_modules/**
PLAN.md
prd.doc
CHANGELOG.md
